
// Config vars
$font-family-code: source-code-pro, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace
$primary-color: #333
$secondary-color: red

body
  font: 100% $font-family-code
  color: white
  background-color: $primary-color
  padding: 2% 5%

// remove default hyperlink styling
a
  text-decoration: none
  color: inherit

.navbar
  padding-bottom: 50px

.flex-container
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 0 500px
  text-decoration: none

.navbar-item


.navbar-item--active
  color: $secondary-color

//
// .content
//   margin-right: 30px
//   width: 300px
//   height: 300px
//
// .content .taglist
//   list-style: none
//   margin-left: 0
//   margin-right: 1.5rem
//   margin-top: 1.5rem
//
//   display: flex
//   flex-wrap: wrap
//   // justify-content: left
//   // align-items: center
//   li
//     padding: 0 2rem 1rem 0
//     margin-bottom: 1.5rem
//     margin-top: 0
//
// // Helper Classes
// .full-width-image-container
//   width: 100vw
//   height: 400px
//   position: relative
//   left: 50%
//   right: 50%
//   margin: 5em -50vw
//   background-size: cover
//   background-position: bottom
//   display: flex
//   justify-content: center
//   align-items: center
//
// .margin-top-0
//   margin-top: 0 !important
