
// Config vars
$font-family-code: source-code-pro, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace
$primary-color: #333
$text-color: white
$link-color: hotpink
$active-color: #FF8A76

body
  font: 100% $font-family-code
  color: $text-color
  background-color: $primary-color
  padding: 2% 5%


// remove default hyperlink styling
a
  text-decoration: none
  color: $link-color

button
  height: 30px
  width: 60px
  background-color: $link-color
  border: none
  border-radius: 2px

.navbar
  padding-bottom: 20px

.navbar-item
  color: white

.form-field
  padding-bottom: 15px


.flex-container
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: 0 20vw
  text-decoration: none



.navbar-item--active
  color: $active-color

//
// .content
//   margin-right: 30px
//   width: 300px
//   height: 300px
//
// .content .taglist
//   list-style: none
//   margin-left: 0
//   margin-right: 1.5rem
//   margin-top: 1.5rem
//
//   display: flex
//   flex-wrap: wrap
//   // justify-content: left
//   // align-items: center
//   li
//     padding: 0 2rem 1rem 0
//     margin-bottom: 1.5rem
//     margin-top: 0
//
// // Helper Classes
// .full-width-image-container
//   width: 100vw
//   height: 400px
//   position: relative
//   left: 50%
//   right: 50%
//   margin: 5em -50vw
//   background-size: cover
//   background-position: bottom
//   display: flex
//   justify-content: center
//   align-items: center
//
// .margin-top-0
//   margin-top: 0 !important
